@import 'tailwindcss';

@theme {
  /* Typography */
  --font-sans:
    var(--font-notosans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  /* Layout */
  --width-max-app: 600px;

  /* Backgrounds & Shadows */
  --bg-spinner: #f8f7f5;
  --external-background: #f9fafb;
  --inner-background: #fafafa;
  --shadow-outline-x: -2px 0 8px rgb(0 0 0 / 8%), 2px 0 8px rgb(0 0 0 / 8%);
  --shadow-outline-top: 0 -1px 3px rgb(0 0 0 / 8%);
  --shadow-outline-bottom: 0 1px 3px rgb(0 0 0 / 8%);

  /* Borders */
  --border-card: #f4ece7;

  /* Colors */
  --color-primary: #f47b25;
  --color-primary-foreground: #ffffff;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-inactive: #9ca3af;
  --color-tab: #ede0d4;
  --color-tab-unselected: #9c6c49;

  /* Font Sizes */
  --font-size-xs: 0.6875rem; /* 11px */
  --font-size-sm: 0.8125rem; /* 13px */
  --font-size-base: 0.9375rem; /* 15px */
  --font-size-lg: 1.0625rem; /* 17px */
  --font-size-xl: 1.1875rem; /* 19px */
  --font-size-2xl: 1.4375rem; /* 23px */
  --font-size-3xl: 1.8125rem; /* 29px */
  --font-size-4xl: 2.1875rem; /* 35px */
  --font-size-5xl: 2.9375rem; /* 47px */
  --font-size-6xl: 3.6875rem; /* 59px */
  --font-size-7xl: 4.4375rem; /* 71px */
  --font-size-8xl: 5.9375rem; /* 95px */
  --font-size-9xl: 7.9375rem; /* 127px */
}

@layer base {
  html {
    @apply overscroll-y-none;
    -webkit-overflow-scrolling: touch;
  }
  body {
    @apply bg-(--external-background);
  }

  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
  }
}

@layer components {
  .app-layout {
    @apply mx-auto h-dvh w-full max-w-(--width-max-app) bg-(--inner-background);
    box-shadow: var(--shadow-outline-x);
  }

  .app-layout main::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .app-layout main::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .app-layout main::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }

  .app-layout main::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
  }

  .app-layout main::-webkit-scrollbar-corner {
    background: transparent;
  }

  .shadow-outline-x {
    box-shadow: var(--shadow-outline-x);
  }
  .shadow-outline-top {
    box-shadow: var(--shadow-outline-top);
  }
  .shadow-outline-bottom {
    box-shadow: var(--shadow-outline-bottom);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }
}
