@import 'tailwindcss';

@theme {
  /* Typography */
  --font-sans:
    var(--font-notosans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  /* Backgrounds & Shadows */
  --bg-spinner: #f8f7f5;

  /* Borders */
  --border-card: #f4ece7;

  /* Colors */
  --color-primary: #f47b25;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  /* Font Sizes */
  --font-size-xs: 0.6875rem; /* 11px */
  --font-size-sm: 0.8125rem; /* 13px */
  --font-size-base: 0.9375rem; /* 15px */
  --font-size-lg: 1.0625rem; /* 17px */
  --font-size-xl: 1.1875rem; /* 19px */
  --font-size-2xl: 1.4375rem; /* 23px */
  --font-size-3xl: 1.8125rem; /* 29px */
  --font-size-4xl: 2.1875rem; /* 35px */
  --font-size-5xl: 2.9375rem; /* 47px */
  --font-size-6xl: 3.6875rem; /* 59px */
  --font-size-7xl: 4.4375rem; /* 71px */
  --font-size-8xl: 5.9375rem; /* 95px */
  --font-size-9xl: 7.9375rem; /* 127px */
}

@layer base {
  body {
    @apply font-sans text-base antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
  }
}
